[submodule "vendor/soulsformats"]
	path = vendor/soulsformats
	url = https://github.com/garyttierney/SoulsFormats
	branch = er
[submodule "vendor/paramdex"]
	path = vendor/paramdex
	url = https://github.com/CryptidTracker/paramdex.git
	branch = master
